# 
#  This file is part of Easydoc.
#  
#  @license Lesser General Public License v3 (http://www.gnu.org/licenses/lgpl-3.0.txt)
#  @author Jacques Bodin-Hullin <jacques@bodin-hullin.net>
#  @copyright Copyright (c) 2012 Jacques Bodin-Hullin (http://jacques.sh/)
# 

<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine On

    # TRACE and TRACK HTTP methods disabled to prevent XSS attacks
    RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    RewriteRule .* - [L,R=405]

    RewriteCond %{REQUEST_URI} !^/(skin|js)/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule .* index.php [L]

</IfModule>
